/** Container for displaying diffs */  
.DiffList {  
  
}  
  
/** the full text for the current iteration */  
.DiffList .full_text {  
  
}  
  
/** The diff operations */  
.DiffList .changes {  
    white-space: pre;  
    padding: 8px;
    background: lightgray;
    border: gray;
    overflow-x: scroll;
}  

.DiffList h2 {
    text-decoration:underline;
    /* border-bottom: 1px solid gray; */
    margin-top:8px;
}
