
.DecaturVoteSearch {
    --selected_button_color: var(--orange-pantone);  
}

.DecaturVoteSearch form {
    padding: 1em;
}

.DecaturVoteSearch form input[type=text] {
    display:block;
    font-size:0.9em;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.2em;
    min-width:60%;
}

.DecaturVoteSearch form .TypeList label input, .DecaturVoteSearch form .TagList label input {
}

.DecaturVoteSearch form label {
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 1px 4px;
    margin: 2px;
    cursor:pointer;
}

.DecaturVoteSearch form label:hover {
    background:lightgrey;
}

.DecaturVoteSearch form label.selected {
    background: var(--orange-pantone);
}

.DecaturVoteSearch form label.selected:hover {
    /* background:darkgrey; */
    cursor:not-allowed;
}

.DecaturVoteSearch form label .count {
    /* display:none; */
}



.DecaturVoteSearch form button.SearchTagButton {  
    border-radius: 16px;
    background: white;
    border: 1px solid black;
}
.DecaturVoteSearch form button.SearchTagButton.selected {  
    background: var(--selected_button_color);  
} 
