
.DecaturVoteSearch .ResultsList {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.DecaturVoteSearch > h1, .DecaturVoteSearch > h2 {
    text-align:center;
}

.DecaturVoteSearch > p {
    display:block;
    /* text-align:center; */
}


.DecaturVoteSearch .SearchResult {
    border: 1px solid var(--color_primary);
    border-radius: 8px;
    margin: 0 8px;
    width:90%;
    max-width: 75ch;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:8px;
}

.DecaturVoteSearch .SearchResult h2 {
    margin:0;
}
.DecaturVoteSearch .SearchResult h2 a {
    text-decoration:none;
    border-bottom: 3px solid var(--orange-pantone);
    border-radius:6px;
    padding: 8px;
    display:block;
    color:black;
}
.DecaturVoteSearch .SearchResult h2 a:hover, .DecaturVoteSearch .SearchResult h2 a:active {
    background:var(--orange-pantone);
    border-color: var(--color_primary);
}
 .DecaturVoteSearch .SearchResult > p > a {
    text-decoration-color: var(--orange-pantone); 
    text-decoration-thickness: 2px; 
    color:black;
    padding: 0px 4px 0px 4px;
    margin-left: -4px;
    display:inline-block;
}

 .DecaturVoteSearch .SearchResult > p > a:hover,  .DecaturVoteSearch .SearchResult > p > a:active {
    background: var(--orange-pantone);
}

