
.DecaturVoteSearch .tag-input-form {
    position:relative;
}

.DecaturVoteSearch .tag-input-form > input {
    position:relative;
}
.DecaturVoteSearch .tag-input-form .tag-menu {
    position:absolute;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    max-width:min(80vw, 95%);
    border: 1px solid black;
    overflow-y: scroll;
    z-index:100;
    background: white;
}

.DecaturVoteSearch .tag-input-form button {
    margin:4px;
    padding: 2px 6px;
    background: var(--color_primary_tint);
    border: 1px solid rgba(100,100,100, 0.3);
}
